.float {
    position: fixed;
    width: 45px;
    height: 45px;
    bottom: 30px;
    right: 30px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.my-float {
    margin-top: 8px;
}

.schemeStyle {
    text-align: center;
    font-weight: 900;
    color: #832884;
    font-size: 30px;
    border-bottom: 0.5px solid;
    border-bottom-color: #832884;
    line-height:45px;
}

.liststyle {
    list-style: none;
    font-style: initial;
    color: black;
    font-weight: 500;
    font-size: initial;
    border-bottom-color: #e8e8ed;
    padding: 8px;
}

    .liststyle:hover {
        color: #832884;
        padding-left: 8px;
    }

@media screen and (min-width:100px) and (max-width:415px) {

    .schemeStyle {
        text-align: center;
        font-weight: 900;
        color: #832884;
        font-size: 20px;
        border-bottom: 0.5px solid;
        border-bottom-color: #832884;
        line-height:25px;
    }

    .liststyle {
    list-style: none;
    font-style: initial;
    color: black;
    font-weight: 500;
    font-size: 13px;
    border-bottom-color: #e8e8ed;
    padding: 8px;
}
}
